
 <div class="table-container">
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
            <h2>Requested Orders</h2>
            <button class="button btn-primary" onclick="viewMore('AllRequestOrders')">View More</button>
        </div>
        <table class="table" id="requestedTable">
            <thead>
                <tr>
                    <th data-column="customername">
                        <div class="header-content">
                            <span class="column-name">Customer</span>
                            <div class="sort-arrows">
                                <span class="sort-up" onclick="sortTable('requestedTable','customername', 'asc')">
                                    <i class="fas fa-arrow-up"></i>
                                </span>
                                <span class="sort-down" onclick="sortTable('requestedTable','customername', 'desc')">
                                    <i class="fas fa-arrow-down"></i>
                                </span>
                            </div>
                        </div>
                    </th>
                <th data-column="productname">
                    <div class="header-content">
                        <span class="column-name">Product</span>
                        <div class="sort-arrows">
                            <span class="sort-up" onclick="sortTable('requestedTable','customername', 'asc')">
                                <i class="fas fa-arrow-up"></i>
                            </span>
                            <span class="sort-down" onclick="sortTable('requestedTable','customername', 'desc')">
                                <i class="fas fa-arrow-down"></i>
                            </span>
                        </div>
                    </div>
                </th>
                    <th data-column="phonenumber">
                        <div class="header-content">
                            <span class="column-name">PhoneNumber</span>
                            <div class="sort-arrows">
                                <span class="sort-up" onclick="sortTable('requestedTable','phonenumber', 'asc')">
                                    <i class="fas fa-arrow-up"></i>
                                </span>
                                <span class="sort-down" onclick="sortTable('requestedTable','phonenumber', 'desc')">
                                    <i class="fas fa-arrow-down"></i>
                                </span>
                            </div>
                        </div>
                    </th>
                    <th data-column="orderprice">
                        <div class="header-content">
                            <span class="column-name">OrderPrice</span>
                            <div class="sort-arrows">
                                <span class="sort-up" onclick="sortTable('requestedTable','orderprice', 'asc')">
                                    <i class="fas fa-arrow-up"></i>
                                </span>
                                <span class="sort-down" onclick="sortTable('requestedTable','orderprice', 'desc')">
                                    <i class="fas fa-arrow-down"></i>
                                </span>
                            </div>
                        </div>
                    </th>
                    <th data-column="orderdate">
                        <div class="header-content">
                            <span class="column-name">OrderDate</span>
                            <div class="sort-arrows">
                                <span class="sort-up" onclick="sortTable('requestedTable','orderdate', 'asc')">
                                    <i class="fas fa-arrow-up"></i>
                                </span>
                                <span class="sort-down" onclick="sortTable('requestedTable','orderdate', 'desc')">
                                    <i class="fas fa-arrow-down"></i>
                                </span>
                            </div>
                        </div>
                    </th>
                    <th data-column="deliverdate">
                        <div class="header-content">
                            <span class="column-name">DeliverDate</span>
                            <div class="sort-arrows">
                                <span class="sort-up" onclick="sortTable('requestedTable','deliverdate', 'asc')">
                                    <i class="fas fa-arrow-up"></i>
                                </span>
                                <span class="sort-down" onclick="sortTable('requestedTable','deliverdate', 'desc')">
                                    <i class="fas fa-arrow-down"></i>
                                </span>
                            </div>
                        </div>
                    </th>
                    <th data-column="status">
                        <div class="header-content">
                            <span class="column-name">Status</span>
                            </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Order.FirstName @item.Order.LastName</td>
                    <td>@item.ProductItem.Product.Name</td>
                    <td>@item.Order.PhoneNumber</td>
                    <td>@item.Order.TotalPrice.ToString("C")</td>
                    <td>@item.Order.OrderDate</td>
                    <td>@item.Order.ArrivalDate</td>
                    <td>@item.Order.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
